.button {
    background-color: #0b0909;
    color: white;
    border-radius: 500px;
    padding: 0 30px;
    cursor: pointer;
    border: none;
    width: 100%;
    height: 50px;
    text-transform: uppercase;
    transition: transform 0.01s ease-in-out;
    font-size: 14px;
}

.button.secondary {
    background-color: transparent;
    border: 1px solid white;
    margin-left: 10px;
}

.button:hover {
    transform: scale(1.02);
}

.button.secondary:hover {
  background-color: #00000019;
}

span {
    vertical-align: middle;
    text-align: center;
}