.divLogoContainer {
    display: block;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.aContainer {
    display: flex;
    align-items: center;
    
}

img {
    height: 40px;
}

.logoSpan {
    margin: 5px;
    font-size: 25px;
    color: white;
    vertical-align: middle;
    width: 100%;
}