:root {
  font-family: CircularSp, Arial, Helvetica, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

@font-face {
  font-family: 'CircularSp';
  src: url('font/CircularStd-Book.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

a {
  text-decoration: inherit;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  overflow-x: hidden;
}


